<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bxslider.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom")

    <script type="text/javascript" src="~/Scripts/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-resource.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/controllers.js"></script>
    <script type="text/javascript" src="~/js/services.js"></script>

    
</head>
<body ng-app="carComparisonApp">
    <div class="nav-container">
        <div class="nav-container-inner">
            <div class="navigation-primary webfont-a">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cover">
        <div class="slider1">
            <div class="slide">
                <img src="~/Images/car_sunset_3.jpg">
                <div class="cover-info webfont-b">
                    <strong>Car Comparison</strong>
                    The right place to find your next car!
                    
                <button type="button" class="btn_1 webfont-a">Begin Search</button>
                </div>
            </div>
            <div class="slide">
                <img src="~/Images/car_sunset_2.jpg">
                <div class="cover-info-left webfont-b">
                    <div><strong>Search.</strong></div>
                    <div>&nbsp</div>
                    <div>
                        Filter by thousends of Models and Manufacturers
                    </div>

                    <button type="button" class="btn_1 webfont-a">Begin Search</button>
                </div>
            </div>
            <div class="slide">
                <img src="~/Images/car_sunset_1.jpg">
                <div class="cover-info-left webfont-b">
                    <div><strong>Find.</strong></div>
                    <div>&nbsp</div>
                    <div>
                        Go directly where to buy.
                    </div>

                    <button type="button" class="btn_1 webfont-a">Begin Search</button>
                </div>
            </div>
            <div class="slide">
                <img src="~/Images/autotrader_cover.png">
                <div class="cover-info-left webfont-b">
                    <div><strong>Link to traders</strong></div>
                    <div>&nbsp</div>
                    <div>
                        Find the best way to buy the car you want
                    </div>

                    <button type="button" class="btn_1 webfont-a">Our Traders</button>
                </div>
            </div>
        </div>
    </div>

    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>
</body>
</html>
