<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-6">
                <h2>My Carpets At Home</h2>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("LOG ON", "Login", "Products", new { }, new { @class = "" })</li>
                            <li>@Html.ActionLink("MY ACCOUNT", "Carpets", "Products", new { }, new { @class = "" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("CARPETS", "Carpets", "Products", new { }, new { @class = "active" })</li>
                    <li>@Html.ActionLink("LAMINATE", "Index", "Concepts", new { }, new { @class = "" })</li>
                    <li>@Html.ActionLink("VINYL", "Index", "Code", new { }, new { @class = "" })</li>
                    <li>@Html.ActionLink("OFFERS", "Index", "Code", new { }, new { @class = "" })</li>
                    <li>@Html.ActionLink("STORES", "Index", "Code", new { }, new { @class = "" })</li>
                    <li>@Html.ActionLink("CONTACT US", "Index", "Code", new { }, new { @class = "" })</li>
                </ul>
            </div>
        </div>
    </header>
    <div class="MainContent">
        @RenderBody()
    </div>
    <footer class="content-Wrapper">
        This is the footer
    </footer>
</body>
</html>
